@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&family=Raleway:ital,wght@0,300;0,600;1,700&family=Sen:wght@400;700;800&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Sen', sans-serif;
  
}
body

/* left section */
/* .left-section {
  position: absolute;
  top: 50vh;
  left: 50%;
  width: 30%;
} */



  /* Login-form */
.login-section{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-color:rgb(124, 4, 104);
  /* background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./images/desk.....jpg); */
  background-position: center;
  background-size: cover;
}
.form-box{
  position: absolute;
  top: 35%;
  left: 15%;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-box-login{
  position: absolute;
  top: 35%;
  right: 15%;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
h2{
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox{
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label{
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding:0 35px 0 5px;
  color: #fff;
}
.inputbox ion-icon{
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.forget{
  margin: -15px 0 15px ;
  font-size: .9em;
  color: #fff;
  display: flex;
  justify-content: space-between;  
}

.forget label input{
  margin-right: 3px;
  
}
.forget label a{
  color: #fff;
  text-decoration: none;
}
.forgotlink{
  text-decoration: none;
  color: rgb(152, 38, 118);
  
}
.forget label a:hover{
  text-decoration: underline;
}
button{
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
}
.register{
  font-size: .9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.register p a{
  text-decoration: none;
  color: rgb(152, 38, 118);
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}

/* Sign up form */
.signup-form{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  /* position: absolute; */
  /* top: 0; */
  background-color:rgb(124, 4, 104);
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./images/desk.....jpg);
  background-position: center;
  background-size: cover;
}
/* .form-box-signup{
  position: absolute;
  top: 35%;
  right: 15%;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;

} */



/* Home page */
.home{

}
.card-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:20vh;
  width: 30%;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;

}
.home-img {
  border-radius: 5px 5px 0 0;
}
.card-avatar:hover{
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);

}
.container {
  padding: 2px 16px;
}

/* Navbar */
.nav-full{
  background-color: #ebe0e00d;
}
.nav-menu{
  display: flex;  
  background-color: #ffffff25;
}
.nav-menu li {
  padding: 0 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  list-style: none;
  
}
.nav-menu li a {
  text-decoration: none;
  color: rgb(239, 38, 15);
  padding: 250px;
}
.nav-header{
display: flex; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}




/* Project Cards */


.show{
  display: block;
}

.noShow{
  display: none;
}

.about-section{
  padding: 8rem;
  text-align: center;
  min-width: 100vh;
  height: 100%;
  position: absolute;
  color: #fff;

}

